@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.logo-svg {
    position: absolute;
    top: 36px;
    left: 36px;
    transform: translate(-50%, -50%);
}

.logo-text {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-left: 42px;
}

.logo-gradient-wrapper {
    display: inline-block; /* Важно для правильного отображения ширины */
    background-image: linear-gradient(to right, #8e44ad, #e74c3c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.first-logo-letter,
.logo-letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin: 2px;
}

.first-logo-letter {
    margin-left: 12px;
}

@media (max-width: 1280px) {
    .logo-text {
      transition: opacity 0.15s ease 0s;
      opacity: 0;
      pointer-events: none;
    }
    .left-bar-tile {
      transition: width 0.15s ease 0.15s;
      width: 72px !important;
    }
    .navigation-text {
      transition: opacity 0.15s ease 0s;
      opacity: 0;
      pointer-events: none;
    }
}
  
@media (min-width: 1281px) {
    .left-bar-tile {
      transition: width 0.15s ease 0s;
      width: 300px !important;
    }
    .logo-text {
      transition: opacity 0.15s ease 0.3s;
      opacity: 1;
      pointer-events: auto;
    }
    .navigation-text {
      transition: opacity 0.15s ease 0.3s;
      opacity: 1;
      pointer-events: auto;
    }
}

.navigation-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 275;
    color: #fff;
    margin-left: 12px;
}

.navigation-item-split {
  background: linear-gradient(90deg, 
      rgba(44, 62, 80, 0) 0%, 
      rgba(44, 62, 80, 0.7) 50%, 
      rgba(44, 62, 80, 0) 100%);
  margin-left: calc(15%/2);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  width: 90%;
}

.first-navigation-item {
    margin-top: 12px;
}

.navigation-item {
    display: flex;
    align-items: center;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.navigation-item:hover {
  transform: scale(1.01);
}

.navigation-section:hover .navigation-item {
  filter: blur(1px);
}

.navigation-section .navigation-item:hover {
  filter: none;
}

.left-bar-tile {
  width: 300px;
  margin-left: 20px;
}

.logo-tile {
  margin-top: 20px;
  height: 73px;
}

.navigation-tile {
  margin-top: 10px;
  height: calc(100vh - 123px);
}