.tile {
    background-color: rgba(44, 62, 80, 0.25);
    backdrop-filter: blur(10px);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 38, 50, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}